.title {
  font-weight: bold;
  font-size: 32px;
}
.body-container {
  padding: 8px;
}
.body {
  margin-top: 16px;
  white-space: pre-wrap;
}
.created-at {
  text-align: right;
  font-size: 14px;
}
.margin-top16 {
  margin-top: 16px;
}
.textarea {
  margin-top: 16px;
  width: 100%;
  min-height: 50vh;
}
.button-box {
  display: flex;
  justify-content: flex-end;
}
.button {
  background-color: #0000ff;
  color: #ffffff;
  width: 100px;
  height: 32px;
}
