@import "../app/styles/variables.scss";

.main-header {
  background-color: $primaryColor;
  padding: 12px;
  color: white;
}

.search-box {
  display: flex;
}

.search-input {
  flex: 1;
  height: 32px;
  border: 1px solid #999999;
}
